#chat-screen {
  background-color: var(--pink);
  height: 500vh;
}
#chat-screen .alt-header,
#chat-screen .status-bar {
  top: 0;
  position: fixed;
  background-color: var(--pink);
  width: 100%;
  box-sizing: border-box;
}
#chat-screen .status-bar {
  z-index: 2;
}
#chat-screen .alt-header {
  z-index: 1;
  top: 10px;
}
@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s linear;
}
.chat__timestamp {
  color: white;
  background-color: #ff9393;
  padding: 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.message__author {
  display: block;
  margin-bottom: 5px;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
  font-size: 18px;
}
.message__author,
.message__time {
  opacity: 0.8;
  font-size: 15px;
}
.message-row__own {
  justify-content: flex-end;
}
.message-row__own .message__bubble {
  background-color: #ffb8b8;
  border-top-right-radius: 0;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
}
.message-row__own .message__info {
  flex-direction: row-reverse;
}
.reply {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.reply__column {
  position: relative;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  box-sizing: border-box;
}
.reply input {
  padding: 12px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
.reply i {
  opacity: 0.5;
}
/* .reply__column:first-child i {
  position: absolute;
  top: -15px;
  left: -7px;
} */
.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: 0px;
  top: 4px;
}
.reply__column:last-child > i {
  right: 40px;
  top: 5px;
}
.reply__column button {
  background-color: #ffaa48;
  border: none;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply__column button i {
  opacity: 1;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}
.reply:focus-within input {
  width: 95vw;
  transform: translateX(-13%) translateY(-80px);
}
.reply:focus-within {
  transform: translateY(80px);
}
