.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 25px 0px;
  margin: 20px 0px;
}
.recommended-friends__title {
  font-size: 12px;
  opacity: 0.8;
}
.recommended-friends span {
  display: block;
  margin: 100px 0px;
  text-align: center;
  color: var(--font-gray);
  font-size: 18px;
}
.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin-bottom: 25px;
}
.open-chat__header span {
  opacity: 0.6;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}
.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}
.open-post__members {
  display: flex;
  align-items: center;
  margin-top: 7px;
}
.open-post__members img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 5px;
}
.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}
.open-post__members .divider {
  width: 2px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0 5px;
}
.open-post__member-status {
  color: #ff66c4;
}
.open-post__photo {
  position: relative;
}
.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
}
.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 8px;
  font-size: 13px;
}
.open-post__heart-count span {
  margin-left: 3px;
}
#open-post__divider {
  margin: 10px 0px;
  opacity: 0.6;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(2);
    color: red;
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.5);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.open-post__heart-count i {
  will-change: transform;
  animation: heartbeat 2s ease-in-out infinite;
}
